@import url('https://fonts.googleapis.com/css2? family=Poppins:wght@300;400;500;600;700;800;900& display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #8cccff;
}
.box
{
    position: relative;
    width: 300px;
}
.box .inputBox
{
    position: relative;
    width: 100%;
    background: #fff;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}
.box .inputBox input
{
    position: relative;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px 0px;
}
.box .inputBox #toggleBtn
{
    position: absolute;
    top: 6px;
    right: 9px;
    width: 34px;
    height: 34px;
    background: rgb(0, 0, 0, 0.05);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box .inputBox #toggleBtn.hide::before{
    content: '\f2a8';
    font-family: fontAwesome;
}
.box .inputBox #toggleBtn::before{
    content: '\f06e';
    font-family: fontAwesome;
}
.validation{
    background: #376488;
    padding: 10px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}
.validation ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.validation ul li {
    position: relative;
    list-style: none;
    color: #fff;
    font-size: 0.85em;
    transition: 0.5s;
}
.validation ul li .valid{
    color: rgb(255, 255,255,0.5);
}
.validation ul li.valid::before{
    content: '\f00c';
    color: #0f0;
}
.validation ul li::before{
    content: '\f192';
    width: 20px;
    height: 10px;
    font-family: fontAwesome;
    display: inline-flex;
}
